body {
    background: rgb(212, 210, 210);
}

ul {
    list-style: none;
}

li {
    font-size: 22px;
}

.self {
    background: url(/img/me.png)no-repeat center center / cover;
    width: 200px;
    height: 300px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black
}

.bike {
    background: url('img/vel.jpg') no-repeat center center / cover;
    width: 500px;
    height: 800px;
}

.tourism {
    background: url('img/ttt.JPG') no-repeat center center / cover;
    width: 500px;
    height: 800px;
}

input {
    outline: none;
}

.inst {
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all .2s ease-in-out;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.vk {
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 3rem;
    color: #4A76A8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vk:hover {
    color: #4A76A8;
}

.fb {
    idth: 50px;
    height: 50px;
    margin: 15px;
    font-size: 3rem;
    color: #087AE9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb:hover {
    color: #087AE9;
}